@font-face {
	font-family: 'Geomanist';
	src: url('fonts/geomanist-medium.eot'); 
	src: 
		local('Geomanist'),
		local('Geomanist'),
		url('fonts/geomanist-medium.otf') 
		format('opentype');
}

body {
    font-family: 'Geomanist', sans-serif;
}